@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html,
body,
#root {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

.app {
  width: 100%;
  height: 100%;
  text-align: center;
}

.album {
  display: inline-block;
  margin: 20px;
  padding: 20px;
  padding-top: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
}

.album:hover {
  border: 1px solid #000;
}

.album-page {
  h1 {
    padding: 20px;
    margin: 0;
  }
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 10px;
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

.image {
  display: inline-block;
  margin: 20px;
  padding: 10px;
  background-color: #ccc;
  border-radius: 10px;
  cursor: pointer;
}

.s {
  width: 400px;
}

.m {
  width: 800px;
}

.l {
  border-radius: 0;
  padding: 0;
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  cursor: default;
}
