html,
body,
#root {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
}

.app {
  width: 100%;
  height: 100%;
  text-align: center;
}

.album {
  display: inline-block;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
}

.album:hover {
  border: 1px solid #000;
}
