@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");

$navbar-color: #1a1a1a;

html,
body,
#root {
  min-width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: "Rubik", sans-serif;
  background-color: black;
  background-image: linear-gradient(to bottom right, #2c0e32 20%, #444444 100%);
  color: white;
  overflow-x: hidden;
}

button {
  font-family: "Rubik", sans-serif;
}

.app {
  width: 100%;
  height: 100%;
  text-align: center;
  user-select: none;
}

.title {
  font-size: 40px;
  @media only screen and (max-width: 600px) {
    font-size: calc(28px + 2vw);
  }
}

.navbar {
  padding: 10px 0px;
  background-color: $navbar-color;
  height: 30px;
  width: 100%;
  .nav-dropdown-icon {
    display: none;
    width: 60px;
    height: 40px;
  }
  a {
    color: #fff0e3;
    text-decoration: none;
    font-size: 24px;
    margin: 0px 18px;
    &:hover {
      font-weight: bold;
    }
  }
  @media only screen and (max-width: 800px) {
    .dropdown {
      display: none;
    }
    .active {
      display: inline-block;
      position: absolute;
      background-color: #371e2f;
      box-shadow: 0px 4px 10px 2px #000000a3;
      min-width: 160px;
      padding: 12px 16px;
      z-index: 1;
      top: 52px;
      right: 1px;
      a {
        font-size: 20px;
        &::after {
          content: "\a";
          white-space: pre;
        }
      }
    }
    .nav-dropdown-icon {
      display: block;
      background-color: #92aa52;
      position: absolute;
      top: 0;
      right: 0;

      padding-right: 20px;
      background-image: linear-gradient(to left, #6e6e6e, $navbar-color);
      font-size: 18px;
      cursor: pointer;

      height: 50px;

      text-align: right;
      padding-left: 50px;
      transition: all 0.4s;
      &:hover {
        padding-left: 85px;
      }

      font-size: 35px;
    }
  }
}

.gallery-preview {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  cursor: pointer;
  width: 100%;
  height: calc(100vh / 3 - 50px / 3);
  margin: 0;
  padding: 0;

  background-color: black;

  .title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    color: white;
    white-space: nowrap;
    text-shadow: 2px 1.5px #000000;
    transition: all 0.5s;

    font-size: 50px;
    @media only screen and (max-width: 600px) {
      font-size: calc(38px + 2vw);
    }
  }
  &:hover {
    .title {
      font-size: 60px;
      text-shadow: 3px 3px #000000;
      @media only screen and (max-width: 600px) {
        font-size: calc(48px + 2vw);
      }
    }
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: none;
    max-height: none;
  }
}

.album-preview {
  position: relative;
  display: inline-block;
  cursor: pointer;
  width: calc(100vw / 3 - 100px / 3);
  margin: 0 5px;
  margin-bottom: 5px;

  padding: 0;
  border: none;

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: none;
    max-height: none;
    border-radius: 10px;
    border: 1px solid #dddddd;
  }

  .title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    color: white;
    white-space: nowrap;
    text-shadow: 2px 1.5px #000000;
    transition: all 0.5s;

    font-size: calc(25px + 1vw);
  }
  &:hover {
    .title {
      font-size: calc(30px + 1vw);
      text-shadow: 3px 3px #000000;
    }
  }

  @media only screen and (max-width: 1200px) {
    width: calc(100vw / 2 - 40px / 2);
  }

  @media only screen and (max-width: 800px) {
    width: calc(100vw - 40px);
  }
}

.album-page {
  h1 {
    padding: 20px;
    margin: 0;
  }
  // min-height: 100vh;
  display: flex;
  justify-content: center;

  .image {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: calc(100vw / 3 - 100px / 3);
    margin: 0 5px;
    margin-bottom: 5px;
    padding: 0;
    border: none;

    object-fit: cover;
    max-width: none;
    max-height: none;
    border-radius: 10px;
    border: 1px solid #dddddd;

    @media only screen and (max-width: 1200px) {
      width: calc(100vw / 2 - 40px);
    }

    @media only screen and (max-width: 800px) {
      width: calc(100vw - 60px);
    }
  }
}

.image-page {
  height: calc(100vh - 50px);
  width: 100%;
  .image {
    width: auto;
    border-radius: 0;
    padding: 0;
    max-width: 95vw;
    max-height: calc(98vh - 100px);
    margin: auto;
    margin-top: 30px;
    cursor: default;
  }
}

.nav-cover {
  position: absolute;
  left: 0;
  top: 0;
  background-color: white;
  width: 100%;
  height: 100%;
}

.back-button {
  background-color: #92aa52;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  padding: 14.5px;
  padding-left: 20px;
  background-image: linear-gradient(to right, #6e6e6e, $navbar-color);
  font-size: 18px;
  cursor: pointer;

  padding-right: 50px;
  transition: all 0.4s;
  &:hover {
    padding-right: 100px;
  }
}

.delete-button {
  @extend .back-button;
  top: 50px;
  &:hover {
    padding-right: 50px;
  }
}

.image {
  display: inline-block;
}

.x {
  width: min(75vw, 400px);
  max-width: min(75vw, 400px);
  max-height: min(75vw, 400px);
}

.s {
  width: min(75vw, 500px);
  max-width: min(75vw, 500px);
  max-height: min(75vw, 500px);
}

.m {
  // border-radius: 0;
  // padding: 0;
  // max-width: 95%;
  // max-height: 95%;
  // position: absolute;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
  // margin: auto;
  // cursor: default;
}

.new-image {
  display: inline-block;
  margin: min(20px, 1vw);
  border: 2px solid #ccc;
  border-radius: 10px;

  width: 298px;
  height: 264px;
  background-color: #ffffff;
  transition: all 0.5s;
  &:hover {
    border: 2px solid #333;
    box-shadow: 0px 0px 0px 3px #333;
  }

  cursor: pointer;
}

.submit-page {
  height: calc(100% - 51px);
  width: 100%;
  :not(:last-child) {
    border-bottom: 1px solid #000;
  }
}

.submit-option {
  display: inline-block;
  width: 100%;
  height: calc(100% / 3 - 2px / 3);
  margin: 0;
  padding: 0;
  display: flex;
  h1 {
    font-size: 80px;
    margin: auto;
  }
  cursor: pointer;
  transition: background-color 0.5s;
  &:hover {
    background-color: #c8c8c8;
  }
}

.popup {
  background-color: #3c2539;
  border-radius: 20px;
  width: max(80vw, 320px);
  height: 90vh;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid black;

  input {
    margin-top: 15px;
  }
  button {
    margin-top: 10px;
  }

  .exit-button {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 22px;
    background-color: #4f2d4a;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid white;
    transition: background-color 0.3s;

    &:hover {
      background-color: #323431;
    }
  }

  .image {
    max-width: 90%;
    max-height: max(240px, 80%);
    border-radius: 0;
    padding: 0;
  }

  .file-drop-area {
    background-color: #a8a8a8;
    border-radius: 15px;
    border: 2px solid black;

    width: max(65vw, 290px);
    max-width: 90%;
    height: calc(80vh - 100px);

    margin: auto;
    margin-top: min(20px);
    padding: 0;

    transition: background-color 0.3s;
    &:hover {
      background-color: #686868;
    }

    h1 {
      position: fixed;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.woah {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  background-color: #00000044;
}
